.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.restaurant-container {
  margin-top: 7vmin;
  display: inline;
}

.category-description {
  width: 20vmin;
  display: inline-table;
}

.right {
  float: right;
  padding-right: 5vmin;
  padding-left: 20vmin;

}

.left {
  float: left;
  padding-left: 5vmin;
  padding-right:20vmin;
}

.login-form {
  padding-left: 1vmin;
  padding-right: 1vmin;
}

.review-card {
  border-bottom: 4px dotted black;
  margin-right: 2vmin;
  margin-left: 2vmin;
}

.inner-card {
  margin-bottom: 3vmin;
}

.contained-image {
  width: 30vmin;
  margin-bottom: 4vmin;
  float: left;
}

.inner-card-rest {
  display: table-column;
}

.h3-title {
  padding-top: 1vmin;
  margin-top: -1.4vmin;
}

.h3-title:hover {
  color: rgb(46,160,149);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.delete-button {
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

.categories-list {
  height: 50vmin;
  width: 40vmin;
  float: right;
  margin-right: 15vmin;
  overflow-y: scroll;

}

.stars-categories {
  display: inline-grid;
}



.categoryuser-container {
  display:inline-flex;
}

.navbar-li {
  padding-left: 4vmin;
}

.textbox {
  width: 47vmin;
  height: 43vmin;
  border-radius: 12px;
}

.signup-form {
  width: 106vmin;
  display: inline-block;
}

.reviewcontainer {
  padding-left: 1vmin;
  padding-right: 40vmin;
}

.authreviewcontainer {
  padding-right: 1vmin;
}

.textbox:focus {
  border-radius: 12px;
  outline: none;
  box-shadow: 0 0 0 2pt rgb(236, 111, 117);

}

.card-holder {
  height: 50vmin;
  margin-bottom: 13vmin;
}

.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  height: 56vmin;
  width: 158vmin;
  display: inline-flex;
}

.card-image {
  height: 100%;
}

.card-restaurant {
  border-bottom: 2px dotted grey;
  margin-top: 5vmin;
  margin-bottom: 1vmin;
  margin-left: 30vmin;
  margin-right: 30vmin;
  display: grid;
}

.card .card-image img {
  height: 100%;
}

.card-info {
  margin-left: 20vmin;
  margin-right: 15vmin;
}

.card.horizontal {
  width: 84vmin;
    height: 32vmin;
    display: inline-flex;
}
