.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.restaurant-container {
  margin-top: 7vmin;
}

.category-description {
  width: 20vmin;
  display: inline-table;
}

.right {
  float: right;
  padding-right: 5vmin;
  padding-left: 20vmin;

}

.left {
  float: left;
  padding-left: 5vmin;
  padding-right:20vmin;
}

.login-form {
  padding-left: 1vmin;
  padding-right: 1vmin;
}

.review-card {
  border-bottom: 4px dotted black;
  margin-right: 2vmin;
  margin-left: 2vmin;
}

.inner-card {
  margin-bottom: 3vmin;
}

.contained-image {
  width: 30vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.categories-list {
  height: 50vmin;
  width: 40vmin;
  float: right;
  margin-right: 15vmin;
  overflow-y: scroll;
  border: 3px solid black;
}

.categoryuser-container {
  display:inline-flex;
}

.navbar-li {
  padding-left: 4vmin;
}
